.Rbuildignore
.Rproj.user
.Rhistory
.RData
*.Rproj
checking
data_prep
data/N.Siki.rda
debugging
development
inst/extdata/N.siki
notes
simulations
src/*.dll
src/*.o
src/*.so
src-i386
src-x64
temp
testing
TODO.docx
vignettes_prep
packrat/lib*/
