.Rbuildignore
.Rproj.user
.Rhistory
.RData
*.Rproj
checking
data_prep
data/N.Siki.rda
debugging
development
notes
src/*.dll
src/*.o
src/*.so
src-i386/*.dll
src-i386/*.o
src-i386/*.so
src-x64/*.dll
src-x64/*.o
src-x64/*.so
temp
TODO.docx
vignettes_prep